body {
    margin: 0;
}

#incidents-section {
    background-color: gainsboro;
    color: rgb(6, 29, 7);
    padding: 24px;
}

h3 {
    font-size: 24px;
}

#incident-items-container h3 {
    margin: 6px;
    padding: 6px;
}

a {
    text-decoration: none;
    padding: 6px;
    color: rgb(21, 80, 21);
}